# 영양성분 데이터

In [2]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [109]:
import pandas as pd
import numpy as np
import os

nutrient_fp = os.path.join('data', '영양성분.csv')
nutrient = pd.read_csv(nutrient_fp)
nutrient.head()

,(mg),단백질,탄수화물,지방,철분,오메가3,칼슘,비타민D,아연,비타민B12
0,호두,15470,7920.0,71990.0,2.49,11460.0,81.0,0.0000,2.92,0.00000
1,회덮밥,6000,20700.0,3300.0,3.50,0.0,24.0,0.0000,1.71,0.00000
2,크로와상,7900,43900.0,26800.0,0.60,220.0,21.0,0.0001,0.60,0.00016
3,김치,1400,4400.0,300.0,0.80,0.0,64.0,0.0000,64.00,0.00000
4,오트밀쿠키,700,8940.0,2470.0,0.64,0.0,17.0,0.0000,0.76,0.00000

In [110]:
# user's food
user_nutri = nutrient[:4]
user_nutri

   (mg)    단백질     탄수화물       지방    철분     오메가3    칼슘    비타민D     아연   비타민B12
0    호두  15470   7920.0  71990.0  2.49  11460.0  81.0  0.0000   2.92   0.00000
1   회덮밥   6000  20700.0   3300.0  3.50      0.0  24.0  0.0000   1.71   0.00000
2  크로와상   7900  43900.0  26800.0  0.60    220.0  21.0  0.0001   0.60   0.00016
3    김치   1400   4400.0    300.0  0.80      0.0  64.0  0.0000  64.00   0.00000

In [111]:
data = pd.DataFrame({'사용자 이름': ['철수', '철수', '철수','철수'],
        '아침':[1,0,0,1],
        '점심':[0,1,0,0],
        '저녁':[0,0,1,0],
        '성별':['남자','남자','남자','남자'],
        '나이':[21,21,21,21],
        '날짜':['08/28/2020','08/28/2020','08/28/2020','08/29/2020']})
data

  사용자 이름  아침  점심  저녁  성별  나이          날짜
0     철수   1   0   0  남자  21  08/28/2020
1     철수   0   1   0  남자  21  08/28/2020
2     철수   0   0   1  남자  21  08/28/2020
3     철수   1   0   0  남자  21  08/29/2020

In [112]:
user_nutri = pd.concat([data, user_nutri], axis = 1)
user_nutri

,사용자 이름,아침,점심,저녁,성별,나이,날짜,(mg),단백질,탄수화물,지방,철분,오메가3,칼슘,비타민D,아연,비타민B12
0,철수,1,0,0,남자,21,08/28/2020,호두,15470,7920.0,71990.0,2.49,11460.0,81.0,0.0000,2.92,0.00000
1,철수,0,1,0,남자,21,08/28/2020,회덮밥,6000,20700.0,3300.0,3.50,0.0,24.0,0.0000,1.71,0.00000
2,철수,0,0,1,남자,21,08/28/2020,크로와상,7900,43900.0,26800.0,0.60,220.0,21.0,0.0001,0.60,0.00016
3,철수,1,0,0,남자,21,08/29/2020,김치,1400,4400.0,300.0,0.80,0.0,64.0,0.0000,64.00,0.00000

In [13]:
necc_nutri_fp = os.path.join('data', '필요 영양분 음식.csv')
necc_nutri = pd.read_csv(necc_nutri_fp)
pd.Series(necc_nutri.all())

단백질            True
 요거트           True
 계란            True
 아보카도          True
 우유            True
 모짜렐라          True
 아몬드           True
 땅콩버터          True
 호박씨           True
 육포            True
 두부            True
 닭가슴살          True
 햄프씨드          True
 브로콜리          True
 녹두            True
 아스파라거스        True
 오징어           True
 콩             True
 연어            True
 새우            True
 감자            True
 해바라기씨         True
 케일            True
Unnamed: 23    True
Unnamed: 24    True
Unnamed: 25    True
Unnamed: 26    True
Unnamed: 27    True
Unnamed: 28    True
Unnamed: 29    True
Unnamed: 30    True
Unnamed: 31    True
Unnamed: 32    True
Unnamed: 33    True
dtype: bool

# 일일 권장 데이터

- convert pdf to dataframe

In [114]:
daily_fp = os.path.join('data', '일일권장.csv')
daily = pd.read_csv(daily_fp)
daily.head()

   성별     연령  단백질(g)   탄수화물    지방  철분  오메가3  칼슘(mg)  비타민D(mg)  아연(mg)  비타민B12
0  남자    6~8      30  256.9  22.5   9  1000     700         5       5     1.3
1  남자   9~11      40  261.2  22.5  10  1000     800         5       8     1.7
2  남자  12~14      55  308.5  22.5  14  1000    1000        10       8     2.3
3  남자  15~18      65  311.2  22.5  14  1000     900        10      10     2.7
4  남자  19~29      65  253.6  22.5  10  1000     800        10      10     2.4

# 알고리즘

In [83]:
user_nutri.drop(['사용자 이름'], axis =1)

,아침/점심/저녁,날짜,(mg),단백질,탄수화물,지방,철분,오메가3,칼슘,비타민D,아연,비타민B12
0,아침,08/28/2020,호두,15470,7920.0,71990.0,2.49,11460.0,81.0,0.0000,2.92,0.00000
1,점심,08/28/2020,회덮밥,6000,20700.0,3300.0,3.50,0.0,24.0,0.0000,1.71,0.00000
2,저녁,08/28/2020,크로와상,7900,43900.0,26800.0,0.60,220.0,21.0,0.0001,0.60,0.00016
3,아침,08/29/2020,김치,1400,4400.0,300.0,0.80,0.0,64.0,0.0000,64.00,0.00000

In [ ]:
# calculateRDA (sex, height, weight, PA)
Recom = []
# SumOfIntake(CurrentTime)
Intake = []

switch(meal):
    if breakfast or lunch:
        criterian = Recom
    else dinner:
        creiterian = Recom - F

for nutrition in Recom:
    if Intake[nutrition] < criterion[nutrition]:
        Fsuggestion = Fname
        Famount = a
    else if Intake[nutrition] < Criterion[nutrition]*y:
        Fsuggestion = Fname
        Famount = beta
    else:
        overNutrition = nutrition
        overAmount = Intake[nutrition] - Recom[nutrition]
        Fsuggestion = Min(Distance(F)) where F

In [84]:
#데이터가 없을시 (먹은 음식을 추가해주세요)
user_nutri = user_nutri.drop(['사용자 이름'], axis =1)

In [115]:
from datetime import datetime

#오늘 날짜 가져오기
today_date = datetime.today().strftime('%Y/%m/%d')
#날짜별 섭취영양소
daily_nutri = user_nutri.groupby(['날짜']).sum()
daily_nutri

,아침,점심,저녁,나이,탄수화물,지방,철분,오메가3,칼슘,비타민D,아연,비타민B12
날짜,,,,,,,,,,,,
08/28/2020,1,1,1,63,72520.0,102090.0,6.59,11680.0,126.0,0.0001,5.23,0.00016
08/29/2020,1,0,0,21,4400.0,300.0,0.80,0.0,64.0,0.0000,64.00,0.00000

In [ ]:
#일일권장량과 비교해서 부족한 영양 성분 찾기
lack_nutri = []
daily_nutri

In [ ]:
#아침

In [ ]:
#점심

In [ ]:
#저녁

## som

In [70]:
import numpy as np

n_data = 1000
input_dim = 10
X  = np.random.user_nutri((n_data, input_dim))

n_rows, n_cols = 4, 16
n_codes = n_rows * n_cols
grid = np.arange(n_codes).reshape(n_rows, n_cols)
C = np.random.random_sample((n_codes, input_dim))

print(grid)

AttributeError: module 'numpy.random' has no attribute 'user_nutri'

In [ ]:
import numpy as np

from sklearn.datasets import load_digits
from som import Som
from pylab import plot, axis, show, pcolor, colorbar, bone

digits = load_digits()
data = digits.data
labels = digits.target

#SOM 모델링
som = Som(16, 16, 64, sigma=1.0, learning_rate=0.5)
som.random_weights_init(data)

print("Initiating SOM")

som.train_random(data, 10000)
print("\nSOM Processing Complete")

bone()
pcolor(som.distance_map().T)
colorbar()

# K-clustering

In [102]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.font_manager as fm
import numpy as np
import random as rd

In [107]:
df = user_nutri
X = df.iloc[:, [1, 2]].values 
m=X.shape[0] # 집합 개수 (m=4)
n=X.shape[1] # 특징 개수 (n=2)

print('m',m)
print('n',n)

m 4
n 2

In [ ]:
plt.scatter(X[:,0],X[:,1],c='black',label='날짜')
plt.xlabel('')
plt.ylabel('탐방객수 (명)')
plt.legend()
plt.title('국립공원')
plt.show()

In [ ]:
K=3 # 클러스터 개수

In [ ]:
n_iter=100 # 반복 횟수

In [ ]:
for i in range(K): # 0, 1, 2
    rand=rd.randint(0,m-1) # 0과 21 사이 난수 생성
    Centroids=np.c_[Centroids,X[rand]] # 클러스터 중심(열) 추가
Centroids # K개 클러스터 중심 초기값. shape=(2, 3)

In [ ]:
# 유클리드 거리 초기화
EuclidianDistance=np.array([]).reshape(m,0)
EuclidianDistance # shape=(22, 0)